a:hover {
  text-decoration: none;
}

.menu-content {                                           /*Ici*/
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}

.sub-menu {                                               /*Ici*/
  background: #fffff;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  width: 270px;
  height: 310px;
  padding: 1.5rem;
  text-align: center;
}

.sub-menu:hover {                                               /*Ici*/
  box-shadow: 0 1px 20px rgba(104, 104, 104, 0.8);
}

.card-img-top {                                           /*Ici*/
  max-height: 150px;
  max-width: 230px;
  min-height: 150px;
  min-width: 230px;
  z-index: 0;
}
